<div class="saran-form">
    <h2>Login</h2>
    <form action="/akun/login" method="post">
      <div class="usr-box">
        <input type="text" name="username" id="usrName" required />
        <label>Username</label>
      </div>
      <div class="usr-box">
        <input type="password" name="password" id="pwd" minlength="8" required>
        <label>Password</label>
      </div>
      <p class="tanya">belum memiliki akun?</p>
      <a href="#" id="sbmtBtn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(pesan[0]) {%>
    <script>
        Swal.fire({
            icon: "error",
            title: "Gagal!",
            text: "Login gagal! username atau password salah!"
        })
    </script>
  <% } %> 
  <script>
    document.querySelector("a#sbmtBtn").addEventListener("click", (res) =>{
        document.querySelector("form").submit()
    })

    document.querySelector("p.tanya").addEventListener("click", (has) =>{
        window.location.href = "/akun/registrasi"
    })

    document.addEventListener("keydown", ev =>{
        if(ev.key == "Enter") document.querySelector("form").submit()
    })
  </script>