<div class="container-fluid h-100 d-flex justify-content-center mt-3">
    <div class="card bxsd" style="width: 95%;">
        <h1 class="text-center">LIST GENRE</h1>
            <ul>
                <% data.forEach(x =>{%>
                <li class="mt-2"><a href=<%="/genre/"+ x.href +"/page/1" %> class="text-reset"><%= x.name %></a></li>
                <%}) %> 
            </ul>
    </div>
  </div>

  