<div class="container-fluid h-100 d-flex justify-content-center mt-3">
    <div class="card bxsd" style="width: 95%;">
        <h1 class="text-center">LIST ANIME</h1>
        <% data.forEach(res =>{%>
            <h3 class="bgrtxt text-center mt-3"><%= res.head  %></h3>
            <ul>
                <% res.isi.forEach(x =>{%>
                <li><a href=<%= "/kartun/"+x.href  %> class="text-reset"><%= x.nama %></a></li>
                <%}) %> 
            </ul>
        <%}) %> 
    </div>
  </div>